@import url('./header.css');
@import url('./footer.css');

:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --azul-claro: #6BD1FF;
    --preto: #000000;
    --branco: #FFFFFF;
    --fundo: #093854;
    --roxo: #4a37a0;
    --verde: #04677e;
}

body {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 16px;
    background-color: var(--fundo);
}

.cabecalho__logo-link {
    text-decoration: none;
}